@page
@model WaterProject2.Pages.ConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you! Your donation will make a difference!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>